#abc{
text-decoration:none;
color:maroon;
}

#name
{
	font-size:18px; 
	color:maroon; 
	position:absolute; 
	text-align:center; 
	width:110px; 
	height:25px;
	top:25px; 
	border-top-right-radius:15px; 
	border-bottom-right-radius:15px; 
	border-bottom-left-radius:30px; 
	border-top-left-radius:30px; 
	left:899px; display:block; 
	background-color:white; 
	padding: 8px 10px 10px 10px;
}

#log
{
	font-size:15px; 
	color:maroon; 
	visibility:hidden; 
	position:absolute; 
	text-align:right; 
	width:0px; 
	height:25px;
	top:25px; 
	border-top-right-radius:15px; 
	border-bottom-right-radius:15px; 
	border-bottom-left-radius:30px; 
	border-top-left-radius:30px; 
	left:899px; 
	display:block; 
	background-color:white; 
	padding: 8px 8px 10px 10px;
}

#change
{
	font-size:15px; 
	color:maroon; 
	visibility:hidden; 
	position:absolute; 
	text-align:right; 
	width:0px; 
	height:25px;
	top:25px; 
	border-top-right-radius:30px; 
	border-bottom-right-radius:30px; 
	border-bottom-left-radius:15px; 
	border-top-left-radius:15px; 
	right:-1px; 
	display:block; 
	background-color:white; 
	padding: 8px 8px 10px 10px;
	z-index:+1;
}